<header>
<div class="header-fixed">
    <ul>
        <li class='nav-item'>Home</li>
        <li class='nav-item'>About</li>
        <li class='nav-item'>Work Exprience</li>
        <li class='nav-item'>Contact</li>
    </ul>
</div>
</header>
